:root{
    --fontSmall: 14px;
    --fontMedium: 18px;
    --fontLarge: 24px;
    --fontXLarge: 32px;
    --fontXXlarge: 64px;

    --sapceXSmall: 16px;
    --sapceSmall: 24px;
    --sapceMedium: 32px;
    --sapceLarge: 40px;
    --sapceXLarge: 80px;
    --sapceXXLarge: 120px;

    --textDefault: #00000087;
    --textDefault2: #00000060;
    --PlaceholderColor: #00000040;
    --textDisabledColor: #00000040;
    --textInverse: #ffffff;
    --textInverse2: #ffffff50;


    --primary: #1c60f3;
    --second: #1fe783;
    --warning: #fcc030;
    --danger: #e54545;
    --info: #3ce2da;
    --bgDefault: #ffffff;
    --bgDefault2: #ffffff50;
    --bgInverse: #00000060;
    --bgInverse2: #00000040;
    --borderColor: #00000008;
 
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}


body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: .07em;
}

section {
    padding: 70px 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
}

h1 { font-size: 54px; font-weight: 600;}
h3 { font-size: 44px; font-weight: 300; }

p {
    margin-bottom: 0px;
    color: #495057;
    line-height: 1.7;
}

b {
    font-weight: 600;
}

dl, ol, ul {
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}

li {
    padding: 5px 0;
}

small {
    display: inline-block;
    font-weight: 200;
    line-height: 2;
}
a {
    color: var(--textDefault);
    font-size: var(--fontMedium);
}
a:hover {
    text-decoration: none;
}

.text-muted {
    color:rgba(0, 0, 0, 0.3) !important;
    font-size: 14px;
    font-weight: 600;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.primary-btn {
    background-color: #377dff;
    color: #ffffff;
    font-weight: 600;
    padding: 7px 22px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #377dff;
    width: 100%;
    max-width: 240px;
    margin: 0px 5px;
    min-height: 40px;
    text-align: center;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.secondary-btn {
    background-color: transparent;
    font-weight: 600;
    padding: 7px 22px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #377dff;
    width: 100%;
    max-width: 240px;
    margin: 0px 5px;
    min-height: 40px;
    text-align: center;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.primary-btn:hover {
    color: #ffffff;
    opacity: .95;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.secondary-btn:hover {
    background-color: #377dff;
    color: #ffffff;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.topmargin-sm { margin-top: 30px !important; }
.topmargin-lg { margin-top: 60px !important; }

.text-light {
    color: #f8f9fa !important;
}

.text-dark {
    color: #1a1a1a !important;
}

.bg-dark {
    background-color: #1a1a1a !important;
}

.bg-light {
    background-color: #ffffff !important;
}

.bg-light-grey {
    background-color: #f8f9fa !important;
}

.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.heading-block {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.heading-block p {
    font-size: 18px;
    font-weight: 300;
}

/*/////////////////////////////////////////
Navbar
////////////////////////////////////////*/
.nav {
    display: flex;
    padding: auto 14px;
   
    }

.navbar {
    justify-content: space-between;
    align-items: stretch;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--borderColor);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}

.navbar-toggler:focus {
    outline: none;
}

.nav-link {
    color: var(--textDefault);
}

.nav-link:hover {
    color: var(--primary);
    opacity: .95;
}

.logo-navbar {
    width: 200px;
    max-width: 220px;
}

#intro {
    padding: 120px 0;
}

/*/////////////////////////////////////////
Pricing Box
////////////////////////////////////////*/

.pricing-box {
    font-weight: 300;
    border: 1px solid #ced4da;
    border-radius: 10px;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 40px 20px;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.pricing-box:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.pricing-box h4 {
    font-weight: 600;
}

.pricing-box span {
    font-size: 48px;
    font-weight: 600;
}

.not-included {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
}

/*/////////////////////////////////////////
Call to Action
////////////////////////////////////////*/

.form-group {
    margin-bottom: 20px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 10px;
    border: 1px solid transparent;
    border-radius: 0px;
    min-height: 40px;
    border-radius: 2px;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: rgba(0, 0, 0, 0.3);
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*/////////////////////////////////////////
Footer
////////////////////////////////////////*/

#footer, #footer a  {
    color: #f8f9fa;
}

.logo-footer {
    max-width: 400px;
}

.footer-link {
    padding: 5px 15px;
    font-weight: 600;
}

.footer-link > i {
    font-size: 24px;
    padding: 0 5px;
}

/*/////////////////////////////////////////
Media Queries
////////////////////////////////////////*/

@media (max-width: 576px) { 
    .mobile-list {
        display: block;
        margin-bottom: 25px;
    }
    .footer-link {
        padding: 0px;
    }
    .primary-btn, .secondary-btn {
        max-width: none;
        margin: 5px 0px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {  }

@media (min-width: 769px) and (max-width: 992px) {  }

@media (min-width: 993px) and (max-width: 1200px) { 
    .mobile-app {
        max-width: 600px;
    }
}

@media (min-width: 1201px) { 
    .mobile-app {
        max-width: 600px;
    }
}